<section style="vertical-align:baseline;">
  <div class="container">
    <div class="row justify-content-center">
      <form [formGroup]="loginForm" (ngSubmit)="login()" id="loginform">
        <div class="card">
          <div class="card-body">

            <h3 class="box-title">Login</h3>

            <div class="form-group">

                <app-form-field [control]="loginForm.controls['username']" [controlName]="'Username'">
                  <input class="form-control" type="text" formControlName="username" placeholder="Usuário">
                </app-form-field>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <app-form-field [control]="loginForm.controls['password']" [controlName]="'Password'">
                  <input class="form-control" type="password" formControlName="password" placeholder="Senha">
                </app-form-field>
              </div>
            </div>

            <div class="form-group text-center">
              <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                  [disabled]="loginForm.invalid || isLoading">
                  <app-icon-loader [isLoading]="isLoading" [label]="'Log In'"></app-icon-loader>
                </button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12 text-center">
                <p>Caso não tenha conta
                  <a class="text-info" [routerLink]="['/signup']">
                    <b>Crie uma</b>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
